.notification {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
  border-left: 4px solid;
  animation: slide-in 0.3s ease-out;
  background-color: var(--white);
  min-width: 320px;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
}

.message {
  margin: 0;
  font: var(--font-s);
}

.success {
  border-left-color: var(--green-500);
  background-color: var(--green-50);

  .icon {
    path {
      fill: var(--green-500);
    }

    stroke: var(--green-500);
  }
}

.error {
  border-left-color: var(--red-500);
  background-color: var(--red-50);

  .icon {
    path {
      fill: var(--red-500);
    }

    stroke: var(--red-500);
  }
}

.warning {
  border-left-color: var(--yellow-500);
  background-color: var(--yellow-50);

  .icon {
    path {
      fill: var(--yellow-500);
    }

    stroke: var(--yellow-500);
  }
}

.info {
  border-left-color: var(--primary-color);
  background-color: var(--primary-color-light);

  .icon {
    path {
      fill: var(--primary-color);
    }

    stroke: var(--primary-color);
  }
}

.closeButton {
  svg {
    stroke: var(--gray-500);
    transition: stroke 0.3s linear;

    &:hover {
      stroke: var(--black);
    }
  }
}
