.section {
  margin: 32px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font: var(--font-xl);
  font-weight: 700;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tagsContainer {
  margin-bottom: 24px;
}
