.form {
  width: 420px;
  padding: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--gray-50);
  border-radius: 24px;
}

.button {
  margin-top: 32px;
}

.requirementsList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 32px;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--font-s);
  font-weight: 600;
}

.requirementIcon {
  fill: var(--gray-200);
  transition: fill 0.2s linear;

  &.met {
    fill: var(--green-500);
  }
}
